@import url("https://fonts.googleapis.com/css2?family=Belanosima:wght@400;600;700&family=Zen+Maru+Gothic&display=swap");

@import "tailwindcss";

.belanosima {
  font-family: "Belanosima", sans-serif;
}
.zen {
  font-family: "Zen Maru Gothic", serif;
}
.text-shadow {
  text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.6);
}
